body {
  background-color: slategray;
}

.header {
  background: #b71775;
  height: 200px;
}

.header h1 {
  margin: 0;
  padding-top: 25px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

