.resumeCard {
    width: 100%;
    height: auto;
    margin-top: 135px;
    
}

.resumeCard h2 {
    text-align: center;
}

.resumeBtnCard{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.resumeBtnCard >div  {
/* align-items: center; */
width: 50%;
border-radius: 25px;
padding: 15px;
margin-bottom: 20px;
border: 3px solid #e18335;
background-color: #E4CC37;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.skillCard {
    /* border: solid black 5px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skillCard h4{
    text-align: left;
}

.textBox {
    list-style: inside;
}