.footerInfoCard{
    height: 50px;
    width: 100vw;
    margin-bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 2;
    bottom:0;
    left: 0;
    margin: 0;
    padding: 0;
}

.footerTabs {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}

li:hover {
    background-color: #E18335
}
.footerItem {
    margin-right: 20px;
    margin-left: 20px;

}