.navBar {
height: 100px;
background-color: #8FC93A;
color: #0072bb;
top:0;
left: 0;
margin: 0;
padding: 0;
position: fixed;
width: 100vw;
display: flex;
justify-content: space-between;
align-items: center;
padding-left:  10px;
padding-right:  10px;
}

.navTabs {
    list-style: none;
    display: flex;
    color: #0072bb
}

li:hover{
    background-color: #E18335
}

li.nav-link{
    background-color: blue;
}

.navItem {
    margin-right: 25px;

}

@media screen and (max-width: 500px) {
    .navTabs {
        
        display: block;
    
    }
}